body, html {
    padding: 0;
    margin: 0;
  
  }
  
  header {
    background-color: rgb(55, 93, 149);
    color: white;
    font-family: 'Times New Roman';
    padding-left: 10px;
  
  }
  
  .btn-primary {
    margin-top: 20px;
      line-height: 60px;
      font-weight: normal;
      padding: 0 40px;
      background: rgb(55, 93, 149);
      border: none;
      color: white;
      font-family: 'Times New Roman';
      font-size: 20px;
      border-radius: 15px;
  }
  
  /* Dropdown Button */
  .dropbtn {
    margin-top: 20px;
      line-height: 60px;
      font-weight: normal;
      padding: 0 40px;
      background: rgb(55, 93, 149);
      border: none;
      color: white;
      font-family: 'Times New Roman';
      font-size: 20px;
      border-radius: 15px;
  
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    left: 0px;
  
  
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(6,53,124);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 15px;
  
  
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  
  }
  
  
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: rgb(55, 93, 149);}
  
  /* Show the dropdown menu on hover */
  @keyframes fade {
    from {
      opacity: 0;
      visibility: hidden;
      
    }
    to { 
      opacity: 1;
      visibility: visible;
      
    }
  }
  .dropdown:hover .dropdown-content {display: block;  animation: fade .3s linear forwards}
  
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: rgb(6,53,124);}
  
  /* Change the background color of the About button when hovered*/
  .btn-primary:hover {background-color: rgb(6,53,124);}
  
  button:hover {
    background:rgb(255,255,255);
    transition: all 800ms ease; 
    opacity:1;
    cursor: pointer;
  }
  
  
  th, td {
    padding: 20px;
    
  
  }
  
  th, td {
    border-bottom: 5px;
  
  }
  
  th, td {
    border-left: 5px;
  
  }
  
  table, th, td {
    border: 5px;
    border-radius: 0px;
    
  
  }
  
  
  
  th, tbody tr td:first-child
  {
    background-color:rgb(255,255,255);
    color:black;
    font-size: 20px;
    border-radius: 0px;
  
  }
  
  td
  {
    background-color:rgb(255, 255, 255);
    color:black;
    border-right: 2px solid rgb(174,195,211);
    border-bottom: 2px solid rgb(174,195,211)
  }
  
  thead tr:nth-child(1) th {
    font-size: 25px;
    font-weight:bolder;
    color:white;
    border-radius: 15px;
  }
  
  thead tr:nth-child(2) th {
    font-size: 20px;
    font-weight:normal;
    border-right: 2px solid rgb(174,195,211);
    border-bottom: 2px solid rgb(174,195,211);
  }
  
  tbody tr:nth-child(1) th {
    font-size: 20px;
    font-weight:normal;
    color:black;
  
  }
  
  tbody tr:nth-child(2) th {
    font-size: 20px;
    font-weight:normal;
    
  
  }
  
  tbody tr:nth-child(3) th {
    font-size: 20px;
    font-weight:normal;
   
  }
  
  tbody tr:nth-child(4) th {
    font-size: 20px;
    font-weight:normal;
   
  }
  
  tbody tr:nth-child(5) th {
    font-size: 20px;
    font-weight:normal;
  
  }
  
  tbody tr:nth-child(6) th {
    font-size: 20px;
    font-weight:normal;
    
  
  }
  
      table
      {
          width:40%;
      }
      td
      {
          height:40px;
      }
  
    thead th, tr, th {
      font-family: 'Times New Roman';
    }
    p { padding-left: 10px; }
   
  
    #footer {
        position: relative;
      margin-top: -80px;
      /* negative value of footer height */
      height: 80px;
      clear: both;
      background-color: rgb(55, 93, 149);
     }
  
   